body {
  text-align: center;
  position: relative;
  justify-content: center;
  margin: 20px !important;
  padding: 20px !important;
  vertical-align: middle !important;
}

.title{
  vertical-align: middle !important;
  font-size: 20px;
  font-weight: bolder;
}

.placeholder{
  text-align: center !important;
  justify-content: center !important;
}

.container{
  margin-top: 3%;
  margin-bottom: 3%;
  vertical-align: middle !important;
}

.segment{
  font-size: 18px !important;
  vertical-align: middle !important;
}

p{
  font-size: 20px !important;
  vertical-align: middle !important;
  justify-content: center !important;
}

button{
  margin-top: 50px !important;
  vertical-align: middle !important;
}

